# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Javanewfeature/*.classpath
/Javanewfeature/*.gitignore
/Javanewfeature/*.project
/Javanewfeature/.settings/*.prefs
/Javanewfeature/*.factorypath
.idea
lib
java-8-lambdas-exercise/.classpath
java-8-lambdas-exercise/.project
java-8-lambdas-exercise/.settings/org.eclipse.jdt.apt.core.prefs
*.prefs
Java_11_error/bin/.project
/Java_11_error/lib/C-master/data_structures/dictionary/*.c
/CuckooFilter-and-BloomFilter/*.jfr
/CuckooFilter-and-BloomFilter/*.phd
/CuckooFilter-and-BloomFilter/*.trc
/CuckooFilter-and-BloomFilter/*.txt
MANIFEST.MF
pom.properties
pom.xml
ThreadPoolPerformance_ThreadPerformanceTest_jmhTest.java
ThreadPoolPerformance_ThreadPoolPerformanceTest_jmhTest.java
ThreadPoolPerformance_jmhType.java
ThreadPoolPerformance_jmhType_B1.java
ThreadPoolPerformance_jmhType_B2.java
ThreadPoolPerformance_jmhType_B3.java
AlibabaHashMapTest_jmhType.java
AlibabaHashMapTest_jmhType_B1.java
AlibabaHashMapTest_jmhType_B2.java
AlibabaHashMapTest_jmhType_B3.java
AlibabaHashMapTest_noSizeTest_jmhTest.java
AlibabaHashMapTest_setSizeTest_jmhTest.java
Bench_BenchmarkState_jmhType.java
Bench_BenchmarkState_jmhType_B1.java
Bench_BenchmarkState_jmhType_B2.java
Bench_BenchmarkState_jmhType_B3.java
Bench_jmhType.java
Bench_jmhType_B1.java
Bench_jmhType_B2.java
Bench_jmhType_B3.java
Bench_parallel_batch_collect_jmhTest.java
Bench_parallel_batch_streaming_collect_jmhTest.java
Bench_parallel_collect_jmhTest.java
Bench_parallel_streaming_jmhTest.java
B001_ModXor_jmhType.java
B001_ModXor_jmhType_B1.java
B001_ModXor_jmhType_B2.java
B001_ModXor_jmhType_B3.java
B001_ModXor_modOp_jmhTest.java
B001_ModXor_xorOp_jmhTest.java
B002_HashSet_Add_bulk_jmhTest.java
B002_HashSet_Add_jmhType.java
B002_HashSet_Add_jmhType_B1.java
B002_HashSet_Add_jmhType_B2.java
B002_HashSet_Add_jmhType_B3.java
B003_HashSet_Contains_bulk_jmhTest.java
B003_HashSet_Contains_jmhType.java
B003_HashSet_Contains_jmhType_B1.java
B003_HashSet_Contains_jmhType_B2.java
B003_HashSet_Contains_jmhType_B3.java
B004_HashSet_CollisionAvalanche_jmhType.java
B004_HashSet_CollisionAvalanche_jmhType_B1.java
B004_HashSet_CollisionAvalanche_jmhType_B2.java
B004_HashSet_CollisionAvalanche_jmhType_B3.java
B004_HashSet_CollisionAvalanche_run_jmhTest.java
FastUtilTypeSpecificBenchmarkUnitTest_givenCollectionsHashSetWithInitialSizeSet_whenPopulated_checkTimeTaken_jmhTest.java
FastUtilTypeSpecificBenchmarkUnitTest_givenFastUtilsIntSetWithInitialSizeSet_whenPopulated_checkTimeTaken_jmhTest.java
FastUtilTypeSpecificBenchmarkUnitTest_jmhType.java
FastUtilTypeSpecificBenchmarkUnitTest_jmhType_B1.java
FastUtilTypeSpecificBenchmarkUnitTest_jmhType_B2.java
FastUtilTypeSpecificBenchmarkUnitTest_jmhType_B3.java
StringInternBenchMark_jmhType.java
StringInternBenchMark_jmhType_B1.java
StringInternBenchMark_jmhType_B2.java
StringInternBenchMark_jmhType_B3.java
StringInternBenchMark_useCurrentHashMap_jmhTest.java
StringInternBenchMark_useHashMap_jmhTest.java
StringInternBenchMark_useIntern_jmhTest.java
B001_HashSet_init_jmhTest.java
B001_HashSet_jmhType.java
B001_HashSet_jmhType_B1.java
B001_HashSet_jmhType_B2.java
B001_HashSet_jmhType_B3.java
BranchPredictionTest_countSortedArr_jmhTest.java
BranchPredictionTest_countUnsortedArr_jmhTest.java
BranchPredictionTest_jmhType.java
BranchPredictionTest_jmhType_B1.java
BranchPredictionTest_jmhType_B2.java
BranchPredictionTest_jmhType_B3.java
createdFiles.lst
inputFiles.lst
TEST-com.bloom.PrimitiveCollectionsUnitTest.xml
TEST-com.bloom.Test009ThreadLeaks.xml
TEST-com.dsi.currence.ArraysTest.xml
TEST-com.dsi.currence.BigArraysTest.xml
TEST-com.dsi.currence.HashCommonTest.xml
com.bloom.PrimitiveCollectionsUnitTest.txt
com.bloom.Test009ThreadLeaks.txt
com.dsi.currence.ArraysTest.txt
com.dsi.currence.BigArraysTest.txt
com.dsi.currence.HashCommonTest.txt
surefire3869867753455432740tmp
surefire_011882797610054692334tmp
/Java_11_error/java-examples.iml
/Java_11_error/target/classes/applicationResources.properties
/Java_11_error/target/classes/basics/.DS_Store
/Java_11_error/target/classes/basics/collection/re.md
/Java_11_error/target/classes/basics/collection/stream/readme.md
/Java_11_error/target/classes/basics/equals/equals.md
/Java_11_error/target/classes/basics/io/nio/IO.png
/Java_11_error/target/classes/basics/pattern/chainofresponsibilitypattern/readme.md
/Java_11_error/target/classes/basics/regx/regx.md
/Java_11_error/target/classes/basics/sorting/.DS_Store
/Java_11_error/target/classes/basics/sorting/sort.md
/Java_11_error/target/classes/basics/validator/applicationResources.properties
/Java_11_error/target/classes/basics/validator/validator-example.xml
/Java_11_error/target/classes/log4j.properties
/Java_11_error/target/classes/log4j2.xml
/Java_11_error/target/classes/logback.xml
/Java_11_error/target/test-classes/log4j.properties
/Java_11_error/test-output/Default suite/Default test.html
/Java_11_error/test-output/Default suite/Default test.xml
/Java_11_error/test-output/Default suite/testng-failed.xml
/Java_11_error/test-output/bullet_point.png
/Java_11_error/test-output/collapseall.gif
/Java_11_error/test-output/emailable-report.html
/Java_11_error/test-output/failed.png
/Java_11_error/test-output/index.html
/Java_11_error/test-output/jquery-1.7.1.min.js
/Java_11_error/test-output/junitreports/TEST-basics.io.ansync.ComTest.xml
/Java_11_error/test-output/junitreports/TEST-basics.io.ansync.IndependentTest.xml
/Java_11_error/test-output/junitreports/TEST-basics.limits.TestLimit.xml
/Java_11_error/test-output/junitreports/TEST-cache.GuavaCacheTest.xml
/Java_11_error/test-output/junitreports/TEST-log.HelloWorld.xml
/Java_11_error/test-output/junitreports/TEST-log.OptionalTest.xml
/Java_11_error/test-output/junitreports/TEST-table.TestTable.xml
/Java_11_error/test-output/navigator-bullet.png
/Java_11_error/test-output/old/Default suite/Default test.properties
/Java_11_error/test-output/old/Default suite/classes.html
/Java_11_error/test-output/old/Default suite/groups.html
/Java_11_error/test-output/old/Default suite/index.html
/Java_11_error/test-output/old/Default suite/main.html
/Java_11_error/test-output/old/Default suite/methods-alphabetical.html
/Java_11_error/test-output/old/Default suite/methods-not-run.html
/Java_11_error/test-output/old/Default suite/methods.html
/Java_11_error/test-output/old/Default suite/reporter-output.html
/Java_11_error/test-output/old/Default suite/testng.xml.html
/Java_11_error/test-output/old/Default suite/toc.html
/Java_11_error/test-output/old/index.html
/Java_11_error/test-output/passed.png
/Java_11_error/test-output/skipped.png
/Java_11_error/test-output/testng-failed.xml
/Java_11_error/test-output/testng-reports.css
/Java_11_error/test-output/testng-reports.js
/Java_11_error/test-output/testng-results.xml
/Java_11_error/test-output/testng.css
/concurrent-programming/java-concurrent-test/.mvn/wrapper/MavenWrapperDownloader.java
/concurrent-programming/java-concurrent-test/.mvn/wrapper/maven-wrapper.jar
/concurrent-programming/java-concurrent-test/.mvn/wrapper/maven-wrapper.properties
/concurrent-programming/java-concurrent-test/src/test/java/me/josephzhu/javaconcurrenttest/lock/CacheStampedLock.java
/concurrent-programming/java-concurrent-test/src/test/java/me/josephzhu/javaconcurrenttest/lock/img.png
/jmh/Java15_N/target/classes/META-INF/BenchmarkList
/jmh/Java15_N/target/classes/META-INF/CompilerHints
/jmh/Java15_N/target/generated-sources/annotations/j16/jmh_generated/Test_init_jmhTest.java
/jmh/Java15_N/target/generated-sources/annotations/j16/jmh_generated/Test_jmhType.java
/jmh/Java15_N/target/generated-sources/annotations/j16/jmh_generated/Test_jmhType_B1.java
/jmh/Java15_N/target/generated-sources/annotations/j16/jmh_generated/Test_jmhType_B2.java
/jmh/Java15_N/target/generated-sources/annotations/j16/jmh_generated/Test_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_collectionForEach_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_enhancedFor_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_indexedFor_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_iteratorForEach_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_iteratorFor_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_spliteratorForEach_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/ArrayJmhTest_streamForEach_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/AverageSingleShot_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/AverageSingleShot_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/AverageSingleShot_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/AverageSingleShot_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/AverageSingleShot_test_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/JMHSample_01_HelloWorld_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/JMHSample_01_HelloWorld_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/JMHSample_01_HelloWorld_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/JMHSample_01_HelloWorld_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/JMHSample_01_HelloWorld_testMethod_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/JMHSample_01_HelloWorld_wellHelloThere_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/LockTest_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/LockTest_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/LockTest_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/LockTest_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/LockTest_testReentrantLock_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/LockTest_testSynchronized_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/LockTest_testWithoutLock_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/MyBenchmark_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/MyBenchmark_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/MyBenchmark_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/MyBenchmark_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/MyBenchmark_throwAndConsumeStacktrace_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/StackOverflowQ_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/StackOverflowQ_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/StackOverflowQ_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/StackOverflowQ_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/StackOverflowQ_standardFor_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/StackOverflowQ_streamForEach_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmark_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmark_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmark_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmark_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmark_test_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_BenchmarkState_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_BenchmarkState_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_BenchmarkState_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_BenchmarkState_jmhType_B3.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_benchmark1_jmhTest.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_jmhType.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_jmhType_B1.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_jmhType_B2.java
/jmh/Java15_N/target/generated-test-sources/test-annotations/jmh/jmh_generated/TestBenchmarks_jmhType_B3.java
/jmh/Java15_N/target/test-classes/META-INF/BenchmarkList
/jmh/Java15_N/target/test-classes/META-INF/CompilerHints
/jmh/denew_feature/.mvn/wrapper
data.html
TEST-jmh.jmh_generated.TestBenchmarks_jmhType.xml
TEST-jmh.jmh_generated.TestBenchmarks_jmhType_B1.xml
TEST-jmh.jmh_generated.TestBenchmarks_jmhType_B2.xml
TEST-jmh.jmh_generated.TestBenchmarks_jmhType_B3.xml
jmh.jmh_generated.TestBenchmark_jmhType-output.txt
jmh.jmh_generated.TestBenchmarks_jmhType.txt
jmh.jmh_generated.TestBenchmarks_jmhType_B1.txt
jmh.jmh_generated.TestBenchmarks_jmhType_B2.txt
jmh.jmh_generated.TestBenchmarks_jmhType_B3.txt
surefire12242462194239861848tmp
surefire13475649419074220585tmp
surefire16561889162955032382tmp
surefire16828062408683448224tmp
surefire18376270782238069379tmp
surefire_013746152542954236276tmp
surefire_17686373239080709059tmp
surefire_27980707734251408351tmp
surefire_34877931008712096703tmp
surefire_47889978346024576504tmp
