# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Javanewfeature/*.classpath
/Javanewfeature/*.gitignore
/Javanewfeature/*.project
/Javanewfeature/.settings/*.prefs
/Javanewfeature/*.factorypath
.idea
lib
java-8-lambdas-exercise/.classpath
java-8-lambdas-exercise/.project
java-8-lambdas-exercise/.settings/org.eclipse.jdt.apt.core.prefs
*.prefs
Java_11_error/bin/.project
/Java_11_error/lib/C-master/data_structures/dictionary/*.c
/CuckooFilter-and-BloomFilter/*.jfr
/CuckooFilter-and-BloomFilter/*.phd
/CuckooFilter-and-BloomFilter/*.trc
/CuckooFilter-and-BloomFilter/*.txt
MANIFEST.MF
pom.properties
pom.xml
surefire3869867753455432740tmp
surefire_011882797610054692334tmp
/Java_11_error/java-examples.iml
/Java_11_error/target
/Java_11_error/test-output
/concurrent-programming/java-concurrent-test/.mvn

/jmh/Java15_N/target
/jmh/denew_feature/.mvn/wrapper
data.html
TEST-jmh.jmh_generated.TestBenchmarks_jmhType.xml
TEST-jmh.jmh_generated.TestBenchmarks_jmhType_B1.xml
TEST-jmh.jmh_generated.TestBenchmarks_jmhType_B2.xml
TEST-jmh.jmh_generated.TestBenchmarks_jmhType_B3.xml
jmh.jmh_generated.TestBenchmark_jmhType-output.txt
jmh.jmh_generated.TestBenchmarks_jmhType.txt
jmh.jmh_generated.TestBenchmarks_jmhType_B1.txt
jmh.jmh_generated.TestBenchmarks_jmhType_B2.txt
jmh.jmh_generated.TestBenchmarks_jmhType_B3.txt


surefire-reports
/CuckooFilter-and-BloomFilter/target
/jmh/Java15_N/.classpath
/jmh/Java15_N/.factorypath
/jmh/Java15_N/.project
/*.pdf
/CollectionsBench-master
/jmh-JDK11-tokenizer-challenge-master
/Java12-API.chm
/junit5-looming-master
/polyglot-java/clojure/*.project
/polyglot-java/clojure/*.classpath
/polyglot-java/all/*.project
/polyglot-java/all/*.classpath
/polyglot-java/frege/*.classpath
/polyglot-java/frege/*.project
/polyglot-java/gosu/*.classpath
/polyglot-java/gosu/*.project
/polyglot-java/groovy/*.classpath
/polyglot-java/groovy/*.project
/polyglot-java/java/*.classpath
/polyglot-java/java/*.project
/polyglot-java/kotlin/*.classpath
/polyglot-java/kotlin/*.project
/polyglot-java/python/*.classpath
/polyglot-java/python/*.project
/polyglot-java/ruby/*.classpath
/polyglot-java/ruby/*.project
/polyglot-java/scala/*.classpath
/polyglot-java/scala/*.project
/polyglot-java/xtend/*.classpath
/polyglot-java/xtend/*.project
/CollectionsBench
/Chronicle-Queue-Demo
